
.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #1a365d;
    position: sticky;
    top: 60px;
    margin-top: -10px;
}

.sidebarWrapper{
    padding: 20px;
    color: #95A5A6;
}

.sidebarMenu{
    margin-bottom: 10px;
}



.sidebarList{
    list-style: none;
    padding: 4px;
}

.sidebarListItem{
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgb(240, 240, 255);
    color: #555;
}


.sidebarIcon{
    margin-right: 5px;
    font-size: 20px;
}

