.userListUser{
    display: flex;
    align-items: center;
}

.userList{
    flex: 4;
}

.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.link{
    text-decoration: none;
}


.userListEdit{
    border: none;
    background-color: #3bb077;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    /* font-size: 14px; */
    margin-right: 10px;
}

.userListEdit:hover{
    background-color: #2f865f;
}

.userListDelete{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: red;
    font-size: 14px;
    margin-left: 10px;
}

.userListDelete:hover{
    color: darkred;
}

